body {
  margin: 0px;
}

.bg-container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 40px;
  font-family: "Roboto";
}
.box1 {
  background-color: #fbbf24;
  width: 80px;
  height: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.box2 {
  background-color: #38bdf8;
  width: 150px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.box3 {
  background-color: #ec4899;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.paragraph {
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  .bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .box1 {
    background-color: #fbbf24;
    width: 100px;
    height: 100px;
    padding: 20px;
    font-family: "Roboto";
  }

  .box2 {
    background-color: #38bdf8;
    width: 200px;
    height: 200px;
    padding: 20px;
    font-family: "Roboto";
  }

  .box3 {
    background-color: #ec4899;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-family: "Roboto";
  }
  .heading {
    font-size: 40px;
    font-family: "Roboto";
  }
  .paragraph {
    font-size: 30px;
    color: #ffffff;
    font-family: "Roboto";
  }
}
